/* Navbar */
.navbar-app {
}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  background-color: rgb(89, 175, 251);
  z-index: 100;
}
.navbar .leftside {
}
.navbar .center-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .center-logo .logo-text {
  color: #fff;
}
.navbar .center-logo .logo-img {
  width: 6rem;
}
.navbar .rightside {
  padding-right: 1.5rem;
}

/* media query */
@media (max-width: 400px) {
  .navbar .center-logo .logo-img {
    width: 7rem;
    padding: 0.5rem;
  }
}
/* Home.js */
.link {
  text-decoration: none;
}
.food-product-box {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.food,
.product {
  text-align: center;
  background-color: #fff;
  width: 7rem;
  padding: 0.5rem;
  border-radius: 15px;
  color: rgb(89, 175, 251);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px rgba(82, 80, 80, 0.422);
}
.food-img,
.product-img {
  width: 3rem;
}
.category-label {
  color: rgb(89, 175, 251);
  margin: 1rem 0 0.5rem 1rem;
}
.recently-added-box {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  color: rgb(89, 175, 251);
}
.recently-added-box .card-box img {
  width: 14rem;
  border-radius: 15px;
}
.recently-added-box .card-box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.foryou-box {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  justify-content: center;
}
.foryou-box .product-img {
  width: 11rem;
}

/* category.js */
.category-box {
  padding: 1rem 1rem;
  position: sticky;
  top: 10%;
  z-index: 50;
}

/* ProductDetail.js */
.product-detail {
  background-color: rgb(89, 175, 251);
  height: 100vh 100%;
}
.product-detail .product-img {
  width: 24.5rem;
}
.product-detail .product-info {
  padding: 1rem;
  color: #fff;
}
.product-detail .product-review {
  padding: 1rem;
  color: #fff;
}
/* ShopInfo.js */
.shop-info {
  position: sticky;
}
.shop-img {
  width: 10rem;
}
.shop-name {
  background-color: rgb(89, 175, 251);
  color: #fff;
}
.shop-name .name {
  display: block;
}
/* AddProduct.js & ContentProduct.js */
.addproduct-form {
  padding: 1rem;
  background-color: rgb(244, 167, 51);
  text-align: center;
}
.title-addproduct {
  font-size: 1.5rem;
  color: #fff;
}
.input {
  width: 200px;
  margin: 0.5rem 2rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  display: inline-block;
}

input[type='file'] {
  display: none;
}
.review-text {
  border: none;
  border-radius: 10px;
  padding: 2rem;
}
.fileUpload {
  background-color: #fff;
  width: 200px;
  display: block;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  color: rgb(244, 167, 51);
  border-radius: 15px;
  margin: 0 5rem;
}
.addproduct-btn {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  color: rgb(244, 167, 51);
  margin: 1rem 7.5rem;
  border-radius: 5px;
}
.card-content {
  background-color: rgb(89, 175, 251);
}
.card-text {
  color: #fff;
}
.text1 {
  font-size: 2rem;
}
.btn {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}
.btn1 {
  margin-right: 10px;
}
.btn3 {
  float: right;
  font-size: 0.7rem;
  height: 2.5rem;
  padding: 0.25rem 1rem 0.5rem 1rem;
}
.icon {
  /* font-size: 1rem; */
  font-size: small;
}
.btn-addproduct {
  position: relative;
  right: -75%;
  margin-top: 0;
  margin-right: 10px;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}
.categoryBox {
  position: sticky;
  top: 10%;
  z-index: 50;
}
.categoryBar {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: center;
}
.categoryItem {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  color: rgb(89, 175, 251);
  font-family: 'Noto Sans Myanmar', sans-serif;
}

/* ReviewModal.js */
.modal-review {
  background-color: rgb(89, 175, 251);
  color: #fff;
}
.modal-review .text-color {
  color: #fff;
}
.review-text {
  font-family: 'Noto Sans Myanmar', sans-serif;
}
.close-review {
  background-color: rgb(89, 175, 251);
  position: sticky;
  bottom: 0;
}
/* foodshop/Category.js */
.food-category-box {
  display: flex;
  padding: 1rem;
  justify-content: center;
  gap: 1rem;
  color: rgb(235, 162, 68);
}
.cat1 .cat2 .cat3 {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: center;
  align-items: center;
}
.food-icon {
  width: 2rem;
}
/* Swiper.js */
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
