/* Navbar */
.navbar-app {
}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  background-color: rgb(89, 175, 251);
  z-index: 100;
}
.navbar .leftside {
}
.navbar .center-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .center-logo .logo-text {
  color: #fff;
}
.navbar .center-logo .logo-img {
  width: 6rem;
}
.navbar .rightside {
  padding-right: 1.5rem;
}

/* media query */
@media (max-width: 400px) {
  .navbar .center-logo .logo-img {
    width: 7rem;
    padding: 0.5rem;
  }
}
/* Home.js */
.link {
  text-decoration: none;
}
.food-product-box {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.food,
.product {
  text-align: center;
  background-color: #fff;
  width: 7rem;
  padding: 0.5rem;
  border-radius: 15px;
  color: rgb(89, 175, 251);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px rgba(82, 80, 80, 0.422);
}
.food-img,
.product-img {
  width: 3rem;
}
.category-label {
  color: rgb(251, 186, 89);
  margin: 1rem 0 0.5rem 1rem;
}
.recently-added-box {
  display: grid;
  grid-template-columns: auto auto;
  overflow-x: auto;
  color: rgb(251, 186, 89);
}
.recently-added-box .card-box img {
  width: 10rem;
  height: 10rem;
  border-radius: 15px;
}
.recently-added-box .card-box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.foryou-box {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  justify-content: center;
}
.foryou-box .product-img {
  width: 11rem;
}

/* category.js */
.category-box {
  padding: 1rem 1rem;
  position: sticky;
  top: 10%;
  z-index: 50;
}

/* ProductDetail.js */
.product-detail {
  background-color: rgb(89, 175, 251);
  height: 100vh 100%;
}
.product-detail .product-img {
  width: 24.5rem;
}
.product-detail .product-info {
  padding: 1rem;
  color: #fff;
}
.product-detail .product-review {
  padding: 1rem;
  color: #fff;
}
/* ShopInfo.js */
.shop-info {
  position: sticky;
}
.shop-img {
  width: 10rem;
}
.shop-name {
  background-color: rgb(89, 175, 251);
  color: #fff;
}
.shop-name .name {
  display: block;
}
/* AddProduct.js & ContentProduct.js */
.addproduct-form {
  padding: 1rem;
  background-color: rgb(244, 167, 51);
  text-align: center;
}
.title-addproduct {
  font-size: 1.5rem;
  color: #fff;
}
.input {
  width: 200px;
  margin: 0.5rem 2rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  display: inline-block;
}

input[type='file'] {
  display: none;
}
.review-text {
  border: none;
  border-radius: 10px;
  padding: 2rem;
}
.fileUpload {
  background-color: #fff;
  width: 200px;
  display: block;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  color: rgb(244, 167, 51);
  border-radius: 15px;
  margin: 0 5rem;
}
.addproduct-btn {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  color: rgb(244, 167, 51);
  margin: 1rem 7.5rem;
  border-radius: 5px;
}
.card-content {
  background-color: rgb(89, 175, 251);
}
.card-text {
  color: #fff;
}
.text1 {
  font-size: 2rem;
}
.btn {
  border-radius: 5px;
  border: none;
  color: rgb(243, 160, 28);
  width: 4rem;
}
.btn1 {
  padding: 0.5rem;
  margin-right: 10px;
}
.btn2 {
  padding: 0.5rem 0.2rem;
  color: rgb(243, 160, 28);
}
.btn3 {
  float: right;
  font-size: 0.7rem;
  height: 2.5rem;
  padding: 0.25rem 1rem 0.5rem 1rem;
}
.icon {
  /* font-size: 1rem; */
  font-size: small;
}
.btn-addproduct {
  position: relative;
  right: -75%;
  margin-top: 0;
  margin-right: 10px;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}
.categoryBox {
  position: sticky;
  top: 10%;
  z-index: 50;
}
.categoryBar {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: center;
}
.categoryItem {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  color: rgb(89, 175, 251);
  font-family: 'Noto Sans Myanmar', sans-serif;
}
/* Food4.js */
.food4-delete-btn {
  position: relative;
  left: 65%;
  padding: 0.5rem;
  margin: 1rem;
}
.title {
  text-align: center;
  color: rgb(253, 176, 62);
  margin: 2rem 0 1rem 0;
}

/* ReviewModal.js */
.modal-review {
  background-color: rgb(89, 175, 251);
  color: #fff;
}
.modal-review .text-color {
  color: #fff;
}
.review-text {
  font-family: 'Noto Sans Myanmar', sans-serif;
}
.close-review {
  background-color: rgb(89, 175, 251);
  position: sticky;
  bottom: 0;
}
/* foodshop.js/Category.js */
.food-shop-box {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
}
.food-shop-box .shop-card .shopimg {
  width: 15rem;
  height: 15rem;
  position: cover;
  border-radius: 10px;
}
.food-shop-box .shop-card {
  display: flex;
  flex-direction: column;
}
.to-more {
  background-color: rgb(235, 171, 32);
  width: 400px;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.more-text {
  width: 200px;
  position: relative;
  font-size: 1rem;
}
.food-category-box {
  display: flex;
  flex-wrap: wrap;
  /* padding:; */
  /* justify-content: center; */
  /* gap: 0.2rem; */
}
.cat1,
.cat2,
.cat3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(235, 162, 68);
}
.food-icon {
  width: 6rem;
}
.shopname {
  color: rgb(234, 161, 78);
}
/* FoodShop.js */
.font-family {
  font-family: 'Noto Sans Myanmar', sans-serif;
  color: rgb(235, 162, 68);
}
/* AddFood.js */
.addfood-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* FoodShopDetails.js */
.addmenu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-profile-img {
  width: 24.5rem;
}
.shop-profile-name {
  font-size: 1.4rem;
}
.shop-info {
  margin: 1rem 0 2rem 1rem;
  color: rgb(255, 150, 59);
}
.menu-box {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 150, 59);
}
.col2 {
  color: #fff;
  font-size: 0.6rem;
}
.col3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-box {
  color: #eee;
  background-color: rgb(230, 149, 51);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 5rem;
  box-shadow: 0 10px 10px 0;
  border-radius: 10px;
  gap: 1rem;
}
.modal-box input {
  padding: 0.5rem;
  border-style: none;
  border-radius: 5px;
}
.modal-box .edit {
  padding: 0.25rem 0.5rem;
  border-style: none;
  border-radius: 5px;
}
.modal-box .close {
  padding: 0.25rem 0.5rem;
  border-style: none;
  border-radius: 5px;
  position: absolute;
  bottom: 1rem;
}

/* Swiper.js */
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
