/* Navbar */
.navbar-app {
}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  background-color: #fff;
  z-index: 100;
}
.navbar .leftside {
}
.navbar .center-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .center-logo .logo-img {
  width: 6rem;
}
.navbar .rightside {
  padding-right: 1.5rem;
}

/* media query */
@media (max-width: 400px) {
  .navbar .center-logo .logo-img {
    width: 7rem;
    padding: 0.5rem;
  }
}
/* category.js */
.category-box {
  padding: 1rem 1rem;
  position: sticky;
  top: 10%;
  z-index: 50;
}
/* ShopInfo.js */
.shop-info {
  padding: 1rem;
  position: sticky;
}
/* AddProduct.js */
.addproduct-form {
  padding: 1rem;
}
.input {
  width: 100px;
  margin: 0.5rem;
}
/* Swiper.js */
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
